@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Hammersmith+One&display=swap");

html {
  /* font-family: "Hammersmith One", sans-serif; */
}

.App {
  width: 100vw;
  height: 100vh;
}

.homePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeBackground {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./backgroundImage.jpg");
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  width: 100vw;
  height: 100vh;
}

.homeContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  z-index: 1;
}

.homeSubheading {
  font-family: "Hammersmith One", sans-serif;
  flex-grow: 1;
  /* margin-top: 10%; */
  width: fit-content;
  margin: 5%;
  opacity: 0;
}

.subheadingText {
  width: fit-content;
  height: fit-content;
  padding: 5%;
  background-color: white;
  border-radius: 15pt;
  box-shadow: 0 0 3px black;
  text-align: center;
}

.navigateButton {
  position: absolute;
  width: 35vw;
  height: 5vh;
  background-color: red;
  border-radius: 25px;
  font-size: 1.5em;
  border: none;
  font-family: "Hammersmith One", sans-serif;
  color: white;
  text-align: center;
  bottom: 3vh;
  opacity: 1;
}

#homeNavigateButton {
  opacity: 0;
}

.navigateButton:hover {
  background-color: maroon;
}

.enterButtonText {
  font-family: "Hammersmith One", sans-serif;
  color: white;
  text-align: center;
}

.travelPage {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travelHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./white-tile.jpg");
  background-size: 110% auto;
  opacity: 0.75;
  z-index: 0;
  background-position: top;
}

.logo {
  height: 30vh;
  width: auto;
  z-index: 1;
}

#homeLogo {
  opacity: 0;
}

.contentContainer {
  position: absolute;
  width: 90vw;
  height: 66vh;
  position: absolute;
  top: 33vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.lineList {
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: brown; */
}

.lineCard {
  opacity: 0;
}

#refreshButton {
  height: fit-content;
  color: white;
  background-color: red;
  border-radius: 15pt;
  border: none;
  font-family: "Hammersmith One";
}

#refreshButton:hover {
  background-color: maroon;
}

#lastUpdated {
  font-size: small;
  width: 75%;
  justify-self: flex-end;
}

table {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 3px black;
  border-spacing: 0;
}

td {
  padding: 8px;
}

th {
  text-align: left;
  color: white;
  padding: 8px;
}

thead {
  border-radius: 10px 10px 0px 0px;
  background-color: red;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableBodyScroll {
  opacity: 0;
}

.tableBodyScroll tbody {
  background-color: white;
  display: block;
  max-height: 45vh;
  overflow-y: scroll;
}

.tableBodyScroll thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  border-radius: 0px 0px 10px 10px;
  border-top: none;
}

.singleLinePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleLineContentContainer {
  font-family: "Cabin";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 40vh;
  /* max-height: 50vh; */
  flex-grow: none;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  /* border: black 2pt solid; */
  box-shadow: 0 0 3px black;
  z-index: 1;
  overflow-y: scroll;
  color: black;
  opacity: 0;
}

.singleLineBackground {
  background-image: url("./backgroundImage.jpg");
  background-size: 100vw auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  opacity: 0.75;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.singleLinePageContentContainer {
  position: absolute;
  top: 33vh;
  height: 67vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.updateContainer {
  color: white;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#singleLineName {
  margin: 1% 0 1% 0;
}

#singleLineSeverity {
  margin: 1% 0 1% 0;
}

#singleLineReason {
  width: 90%;
}

@media only screen and (max-width: 630px) {
  /* .App {
    height: 110vh;
  } */

  .tableBodyScroll tbody {
    max-height: 40vh;
    overflow-y: scroll;
  }

  .singleLineBackground,
  .headerBackground,
  .homeBackground {
    background-size: auto 110vh;
  }

  /* .navigateButton {
    width: 75vw;
  } */
}

@media only screen and (min-width: 720) {
  /* .homeBackground,
  .headerBackground {
    background-size: 100vw auto;
  } */
  .navigateButton {
    width: 25vw;
  }

  #refreshButton {
    margin-left: 5%;
  }
}

.lineColors {
  display: inline-block;
  font-size: 100%;
  font-weight: 900;
}

#bakerloo {
  border-left: #a66227 10pt solid;
}

#central {
  border-left: #dc4231 10pt solid;
}

#circle {
  border-left: #f8d148 10pt solid;
}

#district {
  border-left: #398145 10pt solid;
}

#hammersmith-city {
  border-left: #e58ca0 10pt solid;
}

#jubilee {
  border-left: #969ca0 10pt solid;
}

#metropolitan {
  border-left: #8a1d5c 10pt solid;
}

#northern {
  border-left: #221f20 10pt solid;
}

#piccadilly {
  border-left: #22418f 10pt solid;
}

#victoria {
  border-left: #449cd7 10pt solid;
}

#waterloo-city {
  border-left: #94cbbd 10pt solid;
}

.lineName {
  width: 33vw;
}
