@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

html {
  /* font-family: "Hammersmith One", sans-serif; */
}

.App {
  width: 100vw;
  height: 100vh;
}

.homePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeBackground {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./backgroundImage.jpg");
  background-size: 100vh auto;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.75;
  width: 100vw;
  height: 100vh;
}

.homeContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  z-index: 1;
}

.homeSubheading {
  font-family: "Hammersmith One", sans-serif;
  color: white;
  text-align: right;
  flex-grow: 1;
  /* margin-top: 10%; */
  width: 80%;
}

.navigateButton {
  position: absolute;
  width: 75vw;
  height: 5vh;
  background-color: red;
  border-radius: 25px;
  font-size: 1.5em;
  border: none;
  font-family: "Hammersmith One", sans-serif;
  color: white;
  text-align: center;
  bottom: 3vh;
}

.navigateButton:hover {
  box-shadow: black;
}

.enterButtonText {
  font-family: "Hammersmith One", sans-serif;
  color: white;
  text-align: center;
}

.travelPage {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travelHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./backgroundImage.jpg");
  background-size: 100% auto;
  opacity: 0.75;
  z-index: 0;
  background-position: center;
}

.logo {
  height: 30vh;
  width: auto;
  z-index: 1;
}

.contentContainer {
  position: absolute;
  width: 90vw;
  height: 66vh;
  position: absolute;
  top: 33vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.lineList {
  height: 90%;
  width: 100%;
  /* background-color: brown; */
}

table {
  border-spacing: 0;
}

td {
  padding: 8px;
}

th {
  text-align: left;
  color: white;
  padding: 8px;
}

thead {
  border-radius: 10px 10px 0px 0px;
  background-color: red;
  border: 2px black solid;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableBodyScroll tbody {
  background-color: white;
  display: block;
  max-height: 50vh;
  overflow-y: scroll;
}

.tableBodyScroll thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  border: solid 2px black;
  border-radius: 0px 0px 10px 10px;
  border-top: none;
}

.singleLinePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lineContentContainer {
  position: absolute;
  top: 38vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90vw;
  height: auto;
  max-height: 50vh;
  flex-grow: none;
  background-color: white;
  border-radius: 35px 15px 35px 15px;
  border: black 2pt solid;
  z-index: 1;
  overflow-y: scroll;
}

.singleLineBackground {
  background-image: url("./backgroundImage.jpg");
  background-size: 100vw auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  opacity: 0.75;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.reason {
  width: 90%;
}

@media only screen and (max-width: 620px) {
  .singleLineBackground,
  .headerBackground {
    background-size: auto 100vh;
  }
}

@media only screen and (min-width: 700px) {
  .homeBackground,
  .headerBackground {
    background-size: 100vw auto;
  }
  .navigateButton {
    width: 25vw;
  }
}
